In [ ]:
num = int(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 0
Zero

In [ ]:
num = int(input("enter a number:  "))
if (num % 2) == 0:
  print("even")
else:
  print("odd")

enter a number:  5
odd

In [ ]:
year = int(input("enter the year"))
if (year % 4 == 0 and year % 100 != 0 or year % 400 == 0):
    print("  is leap year")
else:
  print("    is not leap year")

enter the year2010
    is not leap year

In [8]:
num= int(input("enter the number "))
if num>1:
  for i in range(3,num):
   if num % i == 0:
     print("not a prime number")
     break
   else:
    print("is a prime number")

enter the number 9
not a prime number

In [12]:
lower = int(input("enter the number "))
upper = int(input("enter the number "))
for num in range(lower,upper +1):
  if num >1:
    for i in range(2,num):
      if num % i ==0:
       break
      else:
       print(num)

enter the number 1
enter the number 10
3
5
5
5
7
7
7
7
7
9